@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Noto+Sans:wght@300&family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: noto sans, sans-serif;
}

/* hero-image */

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/images/hero-image-v04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-button {
    background-color: #0b5e9d;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
}

/* logo

#logo {
    font-family: noto sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 200%;
    float: left;
}

/* navigation links

#menu #logo {
    line-height: 75px;
}

#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid red;
}